@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=UnifrakturMaguntia&display=swap');
.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
}
.script-regular {
    font-family: "Pinyon Script", cursive;
}
